/*
* @Author: FF
* @Date:   2017-06-22 11:15:19
* @Last Modified by:   FF
* @Last Modified time: 2017-06-22 15:39:45
*/

/*
水平垂直居中采用如下css
｛
	margin: auto;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
｝
*/
.container {
	margin: auto;
	width: 400px;
	height: 200px;
	background-color: #ccc;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
}

.container .round-left {
	width: 100px;
	height: 100px;
	border-radius: 100%;
	background-color: #fc0;
	margin-left: -50px;
	margin-top: -50px;
}

.container .round-right {
	width: 100px;
	height: 100px;
	border-radius: 100%;
	background-color: red;
	position: absolute;
	right: -50px;
	bottom: -50px;
}

/*.round {
	width: 100px;
	height: 100px;
	border-radius: 100%;
	background-color: #fc0;
}*/